<main ontouchstart class="with-hover">
	<aside>
		<div></div>
		<div>
			<p id="intro-signup" class="active"><strong>Car Cloud</strong> is even better with&nbsp;an&nbsp;account.</p>
			<p id="intro-login">Welcome back to<br/><strong>Car Cloud</strong>!</p>
		</div>
	</aside>
	<section>
		<h1>
			<a id="link-signup" class="active">Sign Up</a>
			<a id="link-login">Log In</a>
		</h1>
		<form id="form-signup" class="active">
			<div>
				<fieldset>
					<div>
						<label for="name">Name</label>
						<input id="name" type="text" placeholder="John Doe"/>
					</div>
				</fieldset>
				<fieldset>
					<div>
						<label for="email">Email</label>
						<input id="email" type="email" placeholder="john@doe.com"/>
					</div>
				</fieldset>
				<fieldset>
					<div>
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="••••••••"/>
					</div>
				</fieldset>
			</div>

			<ul>
				<li>
					<button class="fb">Connect with Facebook</button>
				</li>
				<li>
					<button class="tw">Connect with Twitter</button>
				</li>
			</ul>
			
			<input type="submit" value="Sign Up"/>
		</form>
		<form id="form-login">
			<div>
				<fieldset>
					<div>
						<label for="email">Email</label>
						<input id="email" type="email" placeholder="john@doe.com"/>
					</div>
				</fieldset>
				<fieldset>
					<div>
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="••••••••"/>
					</div>
				</fieldset>
			</div>

			<ul>
				<li>
					<button class="fb">Connect with Facebook</button>
				</li>
				<li>
					<button class="tw">Connect with Twitter</button>
				</li>
			</ul>
			
			<input type="submit" value="Log In"/>
		</form>
	</section>
</main>

<!-- Login/registration designed by Gabrielle Wee -->