.navbar-brand{
    font-size: 25px;
}
.nav-link{
    font-size: 15px;
    margin-right: 50px;
}
.jumbotron{
    background-color: #B1A296;
}
.navbar{
    background-color: #379683;
    /* border: 1px solid red; */
    margin-bottom: 0px;
}
nav p{
    margin-top: 15px;
}
.modal-content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border: none;
    height: 100%;
}
#search{
    margin-left: 30vw;
}
#myModal, .modal-body, .modal-dialog{
    height: 500px;
}