<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Car Cloud</h1>
  <p>The foremost online luxury car dealer</p> 
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <p class="navbar-brand" href="#">Explore the cloud:</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cars']">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="login" data-toggle="modal" data-target="#myModal">Log in</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="search">Search</a>
      </li>
    </ul>
  </div>  
</nav>
<router-outlet></router-outlet>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <app-login></app-login>
      </div>
  </div>
</div>