<body>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Random Car</h2>
      <h5>{{randomCar.year}} {{randomCar.make + " " + randomCar.model}}</h5>
      <div class="fakeimg">
        <img src="{{randomCar.url}}" alt="{{randomCar.make + ' ' + randomCar.model}}">
      </div>
      <a [routerLink]="['/car', randomCar.id]"><button class="btn">See this car <img src="../../assets/glyphicons/glyphicons/png/glyphicons-212-arrow-right.png" id="arrow"></button></a><br><br>

      <div *ngIf="logged == true">
        <h2>Control Panel</h2>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a [routerLink]="['/add']" class="nav-link active">Click here to sell your car!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Post listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">My profile</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
    </div>
    <div class="col-sm-8">
      <h2>The NEW Cadillac XT6</h2>
      <h5>A new class of car for Middle America, September 18th, 2018</h5>
      <div class="fakeimg" id='article1'></div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>Brake failure at 198mph</h2>
      <h5>How regular maintenance saved this young man's life, Sep 15th, 2018</h5>
      <div class="fakeimg" id="article2"></div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>